  @charset "UTF-8";
  
        body { background-color: rgb(250, 245, 202);
            font-family:Arial, Helvetica, sans-serif ;
            font: size 20px;;
            }
            h1 {
                color: #f7f6f6;
                background-color: dimgrey;
            }

  